.idea
*.iml
out/
lindb-server/conf/version
target/
.classpath
.project
.settings
.externalToolBuilders
.DS_Store
bin/
Thumbs.db
classes
/res/drawable-hdpi/Thumbs.db
mobile.eml
mobile.iml
mobile.userlibraries
*.pid
/do.sh
*/catalina*
lindb-common/gen
pom.xml.versionsBackup
logs/
*.log
collectortestdatadir/
testimagegenbasedir/

lindb-server/script/docker/lindb-image*
lindb-server/script/docker/lindb-node*